:root{
    --header-color:#ffde73;
    --content-bg:#F5F5DC;
    --parent-bg:#3A2C2C;
    --h1-color:#6B4226;

}

.hero-section{
    width:100%;
    height:60vh;
    max-height: 500px;
    background-color:rgb(46, 44, 44);
    background-size: cover;
    background-position:center 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:24px;
    text-align: center;
}

.hero-section .hr{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section .hr h1{
    font-size: 44px;
    font-family: 'popins';
    color:var(--header-color)
}


/*--contact-section--*/

.contact-section{
    width:100%;
    padding:44px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:34px;
}

.contact-section form{
    display:flex;
    flex-direction: column;
    border-radius: 22px;
    padding:22px;
    gap:14px;
    background-color:var(--content-bg);
}
.contact-section form h2{
    font-size: 33px;
    margin-bottom: 42px;
}

.contact-section form div{
    display:flex;
    flex-direction: column;
}
.contact-section form input{
    font-size: 18px;
    padding:14px;
    outline: none;
}






.contact-section .contact-info{
    border-radius: 22px;
    padding:22px;
    background-color: var(--content-bg);

}